@using Troiamis.ModelsCombined
@model IEnumerable<Post>
@{
    ViewData["Title"] = "HomePage";
}

<h1>HomePage</h1>

@*<div>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Post Time</th>

                </tr>
            </thead>
            <tbody>
                @foreach (Post p in Model)
                {
                    string date = p.timeStamp.Month + "/" + p.timeStamp.Day + "/" + p.timeStamp.Year + ", " + p.timeStamp.Hour + ":" + p.timeStamp.Minute;

                    <tr>
                        <td><a asp-action="ViewPost" asp-route-id="@p.postID">@p.postTitle</a></td>
                        <td><a asp-action="Profile" asp-route-profileName="@p.posterName">@p.posterName</a></td>
                        <td>@date</td>
                    </tr>
                    <tr>
                        <td>@p.postContent</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@

<div style="position: relative; height: auto; overflow-y: scroll">
        @foreach (Post p in Model)
        {
            string date = p.timeStamp.Month + "/" + p.timeStamp.Day + "/" + p.timeStamp.Year + ", " + p.timeStamp.Hour + ":" + p.timeStamp.Minute;

            <div class="card">
                <h3><a asp-action="ViewPost" asp-route-id="@p.postID">@p.postTitle</a></h3>
                <p><a asp-action="Profile" asp-route-profileName="@p.posterName">@p.posterName</a></p>
                <p>@date</p>
                <div class="card-body">@p.postContent</div>
            </div>


        }
</div>
