@using Troiamis.ModelsCombined;
@model IEnumerable<Post>
@{
    ViewData["Title"] = "Profile";
}

@{
    User user = ViewData["User"] as User;
    IEnumerable<Post> posts = ViewData["Posts"] as IEnumerable<Post>;
}

<h1>Hello @user.userName !</h1>

<div id="profileImage-container" class="p-2">
    <div class="text-center">
        @*profile image*@

        <img class="rounded-circle" src="~/Images/favicon-114.png" id="profileImage" />
        <h2>@user.userName</h2>
    </div>
</div>

<div id="posts" class="p-2">
    <h1>
        Posts
    </h1>
    @*<table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Time Stamp</th>
                </tr>
            </thead>
            <tbody data-spy="scroll">
                @foreach (Post e in posts)
                {
                    <tr>
                        <td>@e.postTitle</td>
                        <td>@e.postContent</td>
                        <td>@e.timeStamp</td>
                    </tr>
                }
            </tbody>
        </table>*@
    @{
        int count = 0;
    }
    <div class="row justify-content-center">
        @foreach (Post e in posts)
        {

            { count++; }


            @if (count == 4)
            {
                <div class="w-100"></div>
                count = 0;
            }
            <div class="card text-white bg-dark mb-3 col col-lg-12" style="max-width: 25rem; margin: 10px;">
                <div class="card-header">@user.userName</div>
                <div class="card-body">
                    <h5 class="card-title">@e.postTitle</h5>
                    <p class="card-text">@e.postContent</p>
                    <div class="card-footer border-success">@e.timeStamp</div>
                </div>
            </div>

        }

    </div>
</div>

