@using Troiamis
@using Troiamis.Models
@model User
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>
<div class="d-flex flex-row">
    <div id="sidebar" class="p-2">
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
                    <a class="nav-link" id="v-pills-account-tab" data-toggle="pill" href="#v-pills-account" role="tab" aria-controls="v-pills-account" aria-selected="false">Account Settings</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Logout</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade" id="v-pills-account" role="tabpanel" aria-labelledby="v-pills-account-tab">
                        @*opens account settings... should this be here or on a seperate page?*@
                        <form style="width: 45%;">
                            <div class="form-group">
                                <label @*asp-for="userEmail"*@>Email address</label>
                                <input @*asp-for="userEmail" value="@Model.userEmail"*@ type="email" class="form-control" id="" aria-describedby="emailHelp">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label @*asp-for="userName"*@>User Name</label>
                                    <input @*asp-for="userName" value="@Model.userName"*@ type="text" class="form-control" id="inputUserName">
                                </div>
                                <div class="form-group col-md-6">
                                    <label @*asp-for="Age"*@>Age</label>
                                    <input @*asp-for="Age" value="@Model.age"*@ type="number" class="form-control" id="inputAge">
                                </div>
                            </div>
                            <div class="form-group">
                                <label @*asp-for="password"*@>Password</label>
                                <input @*asp-for="password" value="@Model.password"*@ type="password" class="form-control" id="inputPassword">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <br />
                        </form>
                    </div>
                        @*links to home page*@
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"><a asp-controller="Home" asp-action="Index">Home Page</a></div>
                        @*logout link instead*@
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="profileImage-container" class="p-2">
        <div class="text-center">
            @*profile image*@
            <img class="rounded-circle" @*src="@Model.avatarImageString"*@ src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" id="profileImage" />
        </div>
    </div>
    <div id="posts" class="p-2">
        <h2>Posts</h2>
        <div id="postForm">
            <form>
                <div class="form-group">
                    <label for="">Write Something...</label>
                    <input type="text" class="form-control" id="">
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Upload Image
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="custom-file dropdown-item">
                            <input type="file" class="custom-file-input" id="" required>
                            <label class="custom-file-label" for="">Choose file...</label>
                        </div>

                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
        <div class="container">
            <div data-spy="scroll" data-offset="0" id="postContainer">
                <div class="list-group">



                    @*list of posts and optioin to write one*@
                    <div class="list-group-item card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                @*if post has image*@
                                <img src="..." class="card-img">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    @*poster name*@
                                    <h5 class="card-title">Card title</h5>
                                    @*post text*@
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    @*ratings*@
                                    <button type="button" class="btn btn-outline-primary"><b id="likeNumber">0</b>Like's</button>
                                    @*post timestamp*@
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>

